*,
*:before,
*:after,
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /*image-rendering: -webkit-optimize-contrast;*/
  color: #262626;
}

body {
  background: #fdfdfd;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.45;
}

html {
  font-size: 10px;
}

/*********************************************************************************************************** Menu *******************************************************/
.hamburger-menu {
  width: 35px;
  height: 35px;
  position: relative;
  top: 0px;
  left: 35px;
  cursor: pointer;
  z-index: 1000;
  overflow: hidden;
}

.lines {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #FF6200;
  border-radius: 2px;
}

.change .line {
  transform: translateX(120%);
}

.line-1 {
  transition: transform 0.5s 0.1s;
}

.line-2 {
  transition: transform 0.5s 0.3s;
}

.line-3 {
  transition: transform 0.5s 0.5s;
}

.x-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 10;
}

.change .x-btn {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 1.3s;
}

.x-line {
  width: 35px;
  height: 4px;
  background-color: #FF6200;
  border-radius: 2px;
}

.x-line-1 {
  transform: rotate(-45deg) translateY(3px);
}

.x-line-2 {
  transform: rotate(45deg) translateY(-3px);
}

.navigation {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 100px 1fr 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.change .navigation {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 0.7s;
}

.nav-menu {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.nav-menu-item {
  list-style: none;
  overflow: hidden;
}

.nav-menu-item:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/3;
}

.nav-menu-item:nth-child(2) {
  grid-column: 4/7;
  grid-row: 1/3;
}

.nav-menu-item:nth-child(3) {
  grid-column: 7/-1;
  grid-row: 1/2;
}

.nav-menu-item:nth-child(4) {
  grid-column: 7/9;
  grid-row: 2/3;
}

.nav-menu-item:nth-child(5) {
  grid-column: 9/11;
  grid-row: 2/3;
}

.nav-menu-item:nth-child(6) {
  grid-column: 11/-1;
  grid-row: 2/3;
}

.nav-menu-item:nth-child(7) {
  grid-column: 1/7;
  grid-row: 3/4;
}

.nav-menu-item:nth-child(8) {
  grid-column: 7/-1;
  grid-row: 3/-1;
}

.nav-menu-item:nth-child(9) {
  grid-column: 1/3;
  grid-row: 4/-1;
}

.nav-menu-item:nth-child(10) {
  grid-column: 3/5;
  grid-row: 4/-1;
}

.nav-menu-item:nth-child(11) {
  grid-column: 5/7;
  grid-row: 4/-1;
}

.nav-menu-link {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #FF6200;
  color: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateX(-105%);
}

.change .nav-menu-link {
  transform: translateX(0);
  transition: transform 0.7s 1s;
}

@media (max-width: 1100px) {
  .nav-menu {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .nav-menu-item:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .nav-menu-item:nth-child(2) {
    grid-column: 4/-1;
    grid-row: 1/2;
  }
  .nav-menu-item:nth-child(3) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .nav-menu-item:nth-child(4) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .nav-menu-item:nth-child(5) {
    grid-column: 3/5;
    grid-row: 3/4;
  }
  .nav-menu-item:nth-child(6) {
    grid-column: 5/-1;
    grid-row: 3/4;
  }
  .nav-menu-item:nth-child(7) {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
  .nav-menu-item:nth-child(8) {
    grid-column: 1/-1;
    grid-row: 6/-1;
  }
  .nav-menu-item:nth-child(9) {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .nav-menu-item:nth-child(10) {
    grid-column: 3/5;
    grid-row: 5/6;
  }
  .nav-menu-item:nth-child(11) {
    grid-column: 5/-1;
    grid-row: 5/6;
  }
}
@media (max-width: 800px) {
  .banner h1 {
    font-size: 70px;
  }
  .banner p {
    font-size: 30px;
  }
  .banner span {
    font-size: 42px;
  }
  .nav-menu-link {
    font-size: 22px;
  }
}
@media (max-width: 700px) {
  .banner h1 {
    font-size: 60px;
  }
}
@media (max-width: 600px) {
  .banner {
    width: 80%;
  }
  .banner h1 {
    font-size: 50px;
    text-align: center;
  }
  .banner p {
    font-size: 25px;
    text-align: center;
  }
  .banner span {
    font-size: 35px;
  }
  .nav-menu-link {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .banner {
    width: 90%;
  }
  .nav-menu-link {
    font-size: 15px;
  }
}
/********************************************************************************/
.btn {
  border: 1px solid transparent;
  transition-duration: 0.1s;
  transition-property: background-color;
  transition-timing-function: ease;
  border-top-color: #ffc099;
  border-bottom-color: #b34500;
  background: #FF6200;
  color: #FFF;
  position: relative;
  display: block;
  border-radius: 6px;
  background-image: none;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: 0;
  font-size: 16px;
  width: 150px;
}

.btn:hover,
.btn:active {
  background: #FFF;
  border-color: #FF6200;
  color: #FF6200;
}

.btnmenu {
  width: 150px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 10px;
  border: 1px solid transparent;
  transition-duration: 0.1s;
  border-top-color: #ffc099;
  border-bottom-color: #b34500;
  background: #FF6200;
  color: #FFF;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: 0;
  font-size: 16px;
  width: 150px;
  background-image: none;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition-property: background-color;
  border-radius: 6px;
}

.btnmenu:hover {
  background: #FFF;
  border-color: #FF6200;
  color: #FF6200;
}

img {
  width: 100%;
  display: block;
}

h1.title {
  font-family: "Lato";
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  margin: 1rem auto 2rem;
}

ul {
  list-style: none;
}

li {
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 3px 10px 3px 20px;
}

i.fa {
  margin-right: 10px;
  font-size: 12px;
}

@media only screen and (max-width: 480px) {
  h1.title {
    font-size: 20px;
  }
  li {
    font-size: 13px;
    font-weight: 300;
    padding: 3px 0px 3px 5px;
  }
  .btn {
    font-size: 14px;
    width: 100px;
    margin-bottom: 1.5rem;
  }
  i.fa {
    margin-right: 5px;
    font-size: 10px;
  }
}
.wrapper {
  width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5rem;
}

.row {
  width: 100%;
  margin: 4rem auto;
  font-size: 0;
}
.row:after {
  display: table;
  clear: both;
  content: "";
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: calc((100% - 5rem) / 2);
  float: left;
  margin-right: 5rem;
}
.col-1-2:nth-child(2n+2) {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .col-1-3 {
    width: calc((100% - 15rem) / 4);
    display: inline-block;
    vertical-align: top;
    margin-right: 5rem;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 1s;
    margin-bottom: 5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.5s;
  }
  .col-1-3:nth-child(4n+4) {
    margin-right: 0;
  }
}
.col-1-4 {
  width: calc((100% - 15rem) / 4);
  float: left;
  margin-right: 5rem;
}
.col-1-4:nth-child(4n+4) {
  margin-right: 0;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 1199px) {
  .col-1-3 {
    width: calc((100% - 10rem) / 3);
    display: inline-block;
    vertical-align: top;
    margin-right: 5rem;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 1s;
    margin-bottom: 5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.5s;
  }
  .col-1-3:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
  .col-1-2 {
    width: calc((100% - 2rem) / 2);
    margin-right: 2rem;
  }
  .col-1-2:last-child {
    margin-right: 0;
  }
  .col-1-3 {
    width: calc((100% - 2rem) / 2);
    margin-right: 2rem;
  }
  .col-1-3:nth-child(2n+0) {
    margin-right: 0;
  }
  .col-1-3:nth-child(odd) {
    margin-right: 2rem;
  }
  .col-1-4 {
    width: calc((100% - 2rem) / 2);
    margin-right: 2rem;
  }
  .col-1-4:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .col-1-3 {
    margin-bottom: 2rem;
    padding: 0 1rem;
    box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
  }
  h1 {
    margin: 0 auto 1rem;
    font-size: 20px;
  }
  ul {
    display: none;
  }
}