@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

.swiperslider {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}
.swiperslider a {
  text-decoration: none;
}
.swiperslider img {
  display: block;
  max-width: 100%;
  height: auto;
}
.swiperslider .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.swiperslider .card-container {
  padding-block: 5rem;
}
.swiperslider .card-content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
.swiperslider .card-article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}
.swiperslider .card-image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}
.swiperslider .card-data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}
.swiperslider .card-img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.swiperslider .card-shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}
.swiperslider .card-name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: 0.75rem;
}
.swiperslider .card-description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}
.swiperslider .card-button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: var(--dark-color);
  font-weight: 600;
}
.swiperslider .swiper-button-prev::after,
.swiperslider .swiper-button-next::after {
  content: "";
}
.swiperslider .swiper-button-next,
.swiperslider .swiper-button-prev {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
}
.swiperslider .swiper-button-prev {
  left: 0;
}
.swiperslider .swiper-button-next {
  right: 0;
}
.swiperslider .swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}
.swiperslider .swiper-pagination-bullet-active {
  background-color: var(--second-color);
}
@media screen and (max-width: 320px) {
  .swiperslider .card-data {
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .swiperslider .card-content {
    margin-inline: 3rem;
  }
  .swiperslider .swiper-button-next,
  .swiperslider .swiper-button-prev {
    display: block;
  }
}
@media screen and (min-width: 1120px) {
  .swiperslider .card-container {
    max-width: 1120px;
  }
  .swiperslider .swiper-button-next {
    right: -1rem;
  }
  .swiperslider .swiper-button-prev {
    left: -1rem;
  }
}

.teamsection {
  position: relative;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.teamsection .square {
  position: relative;
  top: -150px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamsection .square span {
  position: absolute;
  inset: 0;
  border: 2px solid #333;
  opacity: 0.5;
}
.teamsection .square span:nth-child(1) {
  border-radius: 46% 54% 61% 39%/40% 40% 60% 60%;
  animation: animateSquare 6s linear infinite;
}
.teamsection .square span:nth-child(2) {
  border-radius: 68% 32% 61% 39%/49% 52% 48% 51%;
  animation: animateSquare 4s linear infinite;
}
.teamsection .square span:nth-child(3) {
  border-radius: 56% 44% 36% 64%/51% 68% 32% 49%;
  animation: animateSquare2 10s linear infinite;
}
@keyframes animateSquare {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animateSquare2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.teamsection .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 50px;
  background: #66a3ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamsection .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
}
.teamsection .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
.teamsection .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave2 4s linear infinite;
}
.teamsection .wave#wave3 {
  z-index: 998;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
.teamsection .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave2 3s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
.teamsection .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 40px;
}
.teamsection .imgbx {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 0 4px #fff;
  opacity: 0.5;
}
.teamsection .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.teamsection .imgbx.active {
  opacity: 1;
  scale: 1.2;
  margin: 0 10px;
  box-shadow: 0 0 0 4px #fff, 0 0 0 10px #66a3ff, 0 0 0 12px #fff;
}
.teamsection .contentbx {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: scale(0);
  opacity: 0;
}
.teamsection .contentbx.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}
.teamsection .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.teamsection .card .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.teamsection .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.teamsection .card .textBx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.teamsection .card h2 {
  position: relative;
  font-size: 1.25em;
  font-weight: 600;
  color: #333;
  line-height: 1em;
  text-transform: uppercase;
}
.teamsection .card b {
  font-size: 0.65em;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.teamsection .sci {
  position: relative;
  display: flex;
  gap: 7px;
  margin-top: 10px;
}
.teamsection .sci li {
  list-style: none;
}
.teamsection .sci a {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
}
.teamsection .sci a:hover {
  background: #66a3ff;
}

.bordercard {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.bordercard .card {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bordercard .imgbox {
  position: relative;
  width: 100%;
  height: 240px;
  background: #f00;
  border-radius: 15px;
  background: url(../img/bg02.jpg);
  background-size: cover;
}
.bordercard .imgbox::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}
.bordercard .imgbox::after {
  content: "";
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #fff;
}
.bordercard .content {
  position: relative;
  width: 100%;
  height: 150px;
  background: #232949;
  border-radius: 15px;
  border-top-left-radius: 0;
  padding: 0 35px;
}
.bordercard .content ul {
  color: #fff;
}
.bordercard .price {
  position: absolute;
  height: 80px;
  background-color: #232949;
  width: 50%;
  top: -80px;
  left: 0;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top-right-radius: 25px;
}
.bordercard .price::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px -10px 0 #fff;
}
.bordercard .price::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #232949;
}
.bordercard .price a {
  position: relative;
  background: #fff;
  padding: 10px 20px;
  margin: 15px 15px;
  display: block;
  border-radius: 7px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.wavyinput {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background: #29313a;
}
.wavyinput .inputBox {
  position: relative;
  width: 350px;
}
.wavyinput input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #999;
  color: #fff;
  font-size: 1.25em;
  transition: 0.5s;
  letter-spacing: 0.05em;
}
.wavyinput label {
  position: absolute;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  color: #666;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.wavyinput label span {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  transition: 0.25s cubic-bezier(0.5, 1, 0.5, 1.5);
}
.wavyinput input:focus ~ label span,
.wavyinput input:valid ~ label span {
  color: #0f0;
  text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0;
  transform: translateY(-30px);
}
.wavyinput input:focus,
.wavyinput input:valid {
  border-bottom: 2px solid #fff;
}

html {
  scroll-behavior: smooth;
}

.scrollspy {
  position: relative;
  font-family: "Poppins", sans-serif;
}
.scrollspy section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.1);
  background: #333;
  text-transform: uppercase;
}
.scrollspy section:nth-child(even) {
  background: #444;
}
.scrollspy header {
  position: fixed;
  bottom: 50px;
  z-index: 10000;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.5));
}
.scrollspy nav {
  display: flex;
  width: 350px;
}
.scrollspy nav a {
  position: relative;
  list-style: none;
  width: 70px;
  height: 60px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.scrollspy nav .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #666;
}
.scrollspy nav a.active .icon {
  transform: translateY(-32px);
  color: var(--clr);
}
.scrollspy .text {
  position: absolute;
  color: #fff;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateY(15px);
  opacity: 0;
}
.scrollspy nav a.active .text {
  transform: translateY(-4px);
  background: var(--clr);
  opacity: 1;
}
.scrollspy .indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  top: -35px;
  transition: 0.5s;
  z-index: 1;
}
.scrollspy .indicator::before {
  content: "";
  position: absolute;
  width: 30px;
  top: 5px;
  left: -28px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 15px 18px #fff;
}
.scrollspy .indicator::after {
  content: "";
  position: absolute;
  width: 30px;
  top: 5px;
  right: -28px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  box-shadow: -15px 18px #fff;
}
.scrollspy nav a:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
.scrollspy nav a:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}
.scrollspy nav a:nth-child(3).active ~ .indicator {
  transform: translateX(140px);
}
.scrollspy nav a:nth-child(4).active ~ .indicator {
  transform: translateX(210px);
}
.scrollspy nav a:nth-child(5).active ~ .indicator {
  transform: translateX(280px);
}

.swirlbg {
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swirlbg .bg {
  position: absolute;
  width: 200vw;
  height: 200vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: aniswirl 10s linear infinite;
}
@keyframes aniswirl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swirlbg span {
  position: absolute;
  width: 500px;
  height: 150vh;
  transform: translate(-50%, -50%) rotate(calc(30deg * var(--i)));
  transform-origin: bottom right;
}
.swirlbg span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 500px;
  box-shadow: -90px -90px 0 89.5px #ff0954;
}
.swirlbg span:nth-child(even)::before {
  box-shadow: -90px -90px 0 89.5px #3c4396;
}