@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.blogcontainer {
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(145deg, #6db193 0%, #00814b 75%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  width: 55%;
  height: 40%;
  background-color: rgb(40, 40, 40);
  border-radius: 25px;
  padding: 2.5rem;
  box-shadow: 0 1.4rem 8rem rgba(40, 40, 40, 0.8);
  position: relative;
  transition: all 0.5s;
}

.change.blog-card {
  width: 65%;
  height: 80%;
}

.blog-card-img {
  width: 30rem;
  height: 30rem;
  background: linear-gradient(145deg, #6db193 0%, #00814b 75%);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: -5rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.blog-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  opacity: 0.5;
}

.change .blog-card-img {
  transform: translateY(-50%) scale(0.6);
  top: 15%;
  left: -10rem;
}

.blog-card-content {
  position: absolute;
  top: 15%;
  left: 40%;
  transform: scale(0.8);
  z-index: 10;
  transition: all 0.5s;
}
.blog-card-content h1 {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  color: #fff;
  margin-bottom: 20px;
}
.blog-card-content h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: #999;
  margin-bottom: 20px;
}
.blog-card-content p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: #777;
  width: 35rem;
  margin-bottom: 3rem;
}

.change .blog-card-content {
  top: 0%;
  left: 20%;
  transform: scale(0.8);
}

.card-btn {
  width: 16rem;
  height: 40px;
  border: none;
  color: #fff;
  background: linear-gradient(145deg, #6db193 0%, #00814b 75%);
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.blog-tours {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  bottom: 60px;
  left: 0;
}

.blog-tours-item {
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.blog-tours-item span {
  position: absolute;
  top: 50%;
  left: -35%;
  transform: translateY(-50%) rotateZ(-90deg);
  font-family: "Kanit", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #fff;
}
.blog-tours-item i {
  width: 60px;
  height: 60px;
  background-color: #01683d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
}

.change .blog-tours-item {
  opacity: 1;
  visibility: visible;
}

.change .blog-tours-item:nth-child(1) {
  transition: all 0.3s 0.3s;
}

.change .blog-tours-item:nth-child(2) {
  transition: all 0.3s 0.5s;
}

.change .blog-tours-item:nth-child(3) {
  transition: all 0.3s 0.7s;
}

.tour-img {
  width: 20rem;
  height: 30rem;
  background: linear-gradient(135deg, #6db193, #135627);
  border-radius: 10px;
}
.tour-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  opacity: 0.5;
  transition: all 0.3s;
}

.blog-tours-item:hover .tour-img img {
  opacity: 0.05;
}

.blog-tours-item:hover i {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.1s;
}

.imgslider {
  width: 100%;
  height: 100vh;
}
.imgslider section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.imgslider .imgScroll {
  position: absolute;
  left: 0;
  padding: 60px 0;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}
.imgslider .imgScroll div {
  display: flex;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}
.imgslider .imgScroll div img {
  margin: 0 25px;
  max-width: 300px;
  border: 10px solid tranparent;
  transition: 0.25s;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgslider .imgScroll div img:hover {
  border: 10px solid #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.imgslider .imgScroll div:hover img {
  opacity: 0.05;
  filter: blur(5px);
}
.imgslider .imgScroll div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}
.imgslider .imgScroll div img:hover {
  opacity: 1;
  filter: blur(0);
}
.imgslider .imgScroll:hover div,
.imgslider .imgScroll:hover div:nth-child(2) {
  animation-play-state: paused;
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.cssfullscreenslider {
  font-family: "Roboto", sans-serif;
}
.cssfullscreenslider .container {
  position: relative;
  width: 100%;
  height: 100VH;
  background-color: #000;
  overflow: hidden;
}
.cssfullscreenslider .tabs input {
  visibility: hidden;
  display: none;
}
.cssfullscreenslider .buttons {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 100000;
}
.cssfullscreenslider .buttons label {
  width: 20px;
  height: 20px;
  background: #fff;
  opacity: 0.5;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.cssfullscreenslider .tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.cssfullscreenslider .tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.cssfullscreenslider .tabs input:nth-child(3):checked ~ .buttons label:nth-child(3) {
  opacity: 1;
  width: 50px;
}
.cssfullscreenslider .content {
  position: relative;
  width: 300vw;
  display: flex;
  transition: 0.5s;
}
.cssfullscreenslider .content .box {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 40px;
}
.cssfullscreenslider .content .box:nth-child(1) {
  background: linear-gradient(90deg, #43cea2, #185a9d);
}
.cssfullscreenslider .content .box:nth-child(2) {
  background: linear-gradient(90deg, #ff4e50, #f9d423);
}
.cssfullscreenslider .content .box:nth-child(3) {
  background: linear-gradient(90deg, #9d50bb, #6e48aa);
}
.cssfullscreenslider .tabs input:nth-child(1):checked ~ .content {
  left: 0;
}
.cssfullscreenslider .tabs input:nth-child(2):checked ~ .content {
  left: -100vw;
}
.cssfullscreenslider .tabs input:nth-child(3):checked ~ .content {
  left: -200vw;
}
.cssfullscreenslider .contentbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.cssfullscreenslider .contentbox h2 {
  font-size: 4em;
  color: #fff;
}
.cssfullscreenslider .contentbox p {
  font-size: 1.8em;
  color: #fff;
  max-width: 400px;
  text-align: center;
}
.cssfullscreenslider .contentbox button {
  font-size: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #fff;
  color: #333;
  margin-top: 10px;
  letter-spacing: 0.05em;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  transition: 0.5s;
}
.cssfullscreenslider .contentbox button:hover {
  letter-spacing: 0.02em;
}

.testimonialslider {
  font-family: "Roboto", sans-serif;
}
.testimonialslider .container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #3f3e3e;
}
.testimonialslider .testimonials {
  padding: 50px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 7rem 0;
}
.testimonialslider .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonialslider .heading span:first-child {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
.testimonialslider .heading span:last-child {
  font-size: 20px;
  color: #aaa;
  font-weight: 500;
}
.testimonialslider .quote {
  background-color: #333;
  padding: 70px;
  border: 1px solid aqua;
  border-radius: 10px;
  position: relative;
  transition: border-color 0.5s;
}
.testimonialslider .stars {
  margin-bottom: 1.5rem;
}
.testimonialslider .stars i {
  color: palegreen;
  font-size: 20px;
}
.testimonialslider .quote-text {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  height: 150px;
  padding-right: 20px;
  overflow-y: scroll;
  scrollbar-color: #888 #555;
  scrollbar-width: thin;
}
.testimonialslider .quote-text::-webkit-scrollbar {
  width: 5px;
  background-color: #555;
}
.testimonialslider .quote-text::-webkit-scrollbar-thumb {
  background-color: #888;
}
.testimonialslider .quote-icon {
  color: #555;
  font-size: 70px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.testimonialslider .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}
.testimonialslider .card {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0 30px;
  padding: 30px;
  border-block: 0.1rem solid;
  cursor: pointer;
  transition: background-color 0.5s;
}
.testimonialslider .card:nth-child(1) {
  border-color: aqua;
  background-color: #333;
}
.testimonialslider .card:nth-child(2) {
  border-color: darkorange;
}
.testimonialslider .card:nth-child(3) {
  border-color: violet;
}
.testimonialslider .card img {
  width: 70px;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}
.testimonialslider .name {
  color: #eee;
  font-size: 18px;
  margin-bottom: 10px;
}
.testimonialslider .profession {
  color: #888;
  font-size: 15px;
}

.menuhover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  min-height: 600px;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
.menuhover .list {
  position: relative;
  display: flex;
  flex-direction: column;
}
.menuhover li {
  list-style: none;
}
.menuhover li a {
  position: relative;
  display: flex;
  font-size: 64px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.menuhover li a span {
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.menuhover li a span .out {
  display: inline-flex;
}
.menuhover li a:hover span .out {
  transform: translateY(-100%);
}
.menuhover li a span .in {
  position: absolute;
  color: #2aa1ff;
  transform: translateY(100%);
  left: 0;
}
.menuhover li a:hover span .in {
  transform: translateY(0);
}