@import url("https://fonts.googleapis.com/css?family=Handlee&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.typingeffect {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000001;
}
.typingeffect .typing-container {
  display: flex;
  font-size: 2em;
  color: #fff;
  letter-spacing: 0.1em;
  width: 100%;
  padding: 50px;
}
.typingeffect .cursor {
  display: inline-block;
  margin-left: 2px;
  color: #fff;
  animation: blink 0.6s step-end infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.keyboard-wrapper {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.keyboard-wrapper .keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.keyboard-wrapper .key {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 8px 15px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25), 10px 20px 25px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  overflow: hidden;
}
.keyboard-wrapper .key::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  bottom: 10px;
  right: 8px;
  background: linear-gradient(90deg, #222323, #4a4a4a);
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.25), 10px 5px 10ps rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.2666666667);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2666666667);
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.keyboard-wrapper .key i {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1.2em;
  opacity: 0.75;
  font-style: normal;
  font-weight: normal;
}
.keyboard-wrapper .break {
  flex-basis: 100%;
}
.keyboard-wrapper .key.active {
  background: #f00;
}
.keyboard-wrapper .key.active::before {
  background: linear-gradient(90deg, #d20000, rgba(255, 255, 255, 0.3607843137));
  border-left: 1px solid rgba(255, 255, 255, 0.2666666667);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2666666667);
  border-top: 1px solid rgba(255, 255, 255, 0.2666666667);
}

.progress-bar {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
}
.progress-bar .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.progress-bar .circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  flex-direction: column;
}
.progress-bar .circle::before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  background: #222;
  opacity: 0.8;
}
.progress-bar .circle::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #222;
  border: 15px solid #4d4c51;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.75), 0 -2px 2px rgba(255, 255, 255, 0.5), inset 0 4px 2px rgba(0, 0, 0, 0.25), inset 0 -2px 2px rgba(255, 255, 255, 0.5);
}
.progress-bar .number {
  position: relative;
  color: #fff;
  z-index: 10;
  line-height: 1em;
  font-size: 2em;
}
.progress-bar .number span {
  font-size: 0.5em;
  font-weight: 500;
}
.progress-bar h4 {
  position: relative;
  color: #fff;
  z-index: 10;
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 0.6em;
}

.sticky-notes {
  font-family: "Poppins";
  width: 100%;
  height: 100vh;
  background: #2f363e;
}
.sticky-notes .container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
.sticky-notes .notes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}
.sticky-notes .note {
  position: relative;
  width: 300px;
  height: 300px;
  background: #f7e98d;
  padding: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.sticky-notes .note::before {
  content: "Double Click to Remove This Note";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
  opacity: 0;
  transition: 0.5s;
}
.sticky-notes .note:hover::before {
  opacity: 1;
}
.sticky-notes #create {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6em;
  cursor: pointer;
}
.sticky-notes #create i {
  position: absolute;
  color: #fff;
}
.sticky-notes .createBox {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 1000;
  display: none;
}
.sticky-notes .createBox textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  padding: 20px;
  resize: none;
  font-size: 0.2em;
}
.sticky-notes .details h3 {
  font-family: "Handlee", cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.45em;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #181b1c;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-out;
}
.loader .counter {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.loader .number {
  position: absolute;
  color: #fff;
  font-size: 10vw;
  font-weight: 300;
  bottom: 4vh;
  right: 4vw;
}
.loader .number span {
  font-size: 0.5em;
}
.loader .progress {
  position: relative;
  width: 100%;
  height: 5px;
  background: #2f3034;
}
.loader .percentBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  transition: 0.1s;
}