@import url("https://fonts.googleapis.com/css2?family=Genos:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuhover {
  font-family: "Genos", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #111;
  overflow: hidden;
}
.menuhover ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.menuhover li {
  list-style: none;
}
.menuhover li a {
  position: relative;
  font-size: 4em;
  font-weight: 600;
  color: #fff;
  line-height: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 2;
}
.menuhover ul:hover li:not(:hover) a {
  opacity: 0.5;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.menuhover ul li .image {
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% -50%;
  pointer-events: none;
  z-index: 1;
  width: 0;
  transition: width 0.5s;
}
.menuhover ul li:hover .image {
  width: 300px;
}

.menuhover2 {
  font-family: "Genos", sans-serif;
  font-size: 10px;
}
.menuhover2 .container {
  height: 100vh;
  background-color: #faf4ed;
  display: grid;
  place-items: center;
}
.menuhover2 .navgation {
  width: 70rem;
  background-color: #fff;
  padding: 100px;
  border-radius: 10px;
  position: relative;
}
.menuhover2 .nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  cursor: pointer;
  border-bottom: 1px solid #000;
  transition: padding 0.3s, opacity 0.3s;
}
.menuhover2 .nav-item:first-child {
  border-top: 1px solid #000;
}
.menuhover2 .nav-item span {
  font-size: 15px;
}
.menuhover2 .nav-item:hover {
  padding: 30px;
  opacity: 0.5;
}
.menuhover2 .nav-link {
  text-decoration: none;
  font-size: 40px;
  color: #222;
}
.menuhover2 .gallery {
  position: absolute;
  top: 100px;
  width: 250px;
  height: 200px;
  overflow: hidden;
  pointer-events: none;
  background-color: #111;
  transform: translate(-50%, -50%) scale(0);
  transition: background-color 0.2s, top 0.15s, left 0.15s, transform 0.3s;
}
.menuhover2 .images {
  height: 400%;
  transition: transform 0.3s 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menuhover2 .images img {
  width: 100%;
  height: 25%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px;
  box-sizing: border-box;
}

.horislider {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f1c40f;
  height: 100vh;
}

.slider-container::-webkit-scrollbar {
  height: 7px;
}

.slider-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

.slider-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6823529412);
  border-radius: 10px;
}

.slider-container::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.slider-container {
  width: 100%;
  overflow-x: auto;
}

.slider {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow-x: auto;
  margin: auto;
  padding: 20px;
}

.slide {
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-mask-box-image: 20px;
          mask-border: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s ease;
}

.slide h4 {
  font-size: 30px;
}

.slide p {
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.slide .icon {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 30px;
}

.slide:hover {
  scale: 1.1;
}

.pagination {
  font-family: "Poppins", sans-serif;
}
.pagination img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pagination .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pagination .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}
.pagination .card {
  position: relative;
  background: #fff;
  display: flex;
  max-width: 400px;
  width: 400px;
  height: 250px;
  margin: 25px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.pagination .card-image {
  width: 40%;
}
.pagination .card-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #222;
  padding: 10px 20px 20px;
}
.pagination .card-info h3 {
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 5px;
}
.pagination .card-info p {
  font-size: 1em;
  margin-bottom: 5px;
}
.pagination .pagination-wrapper {
  text-align: center;
  margin: 30px 30px 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pagination .pagination-wrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}
.pagination .pagination-wrapper li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.1);
}
.pagination .previous-page, .pagination .next-page {
  background: #0ab1ce;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}
.pagination .previous-page:hover {
  transform: translateX(-5px);
}
.pagination .next-page:hover {
  transform: translateX(5px);
}
.pagination .current-page, .pagination .dots {
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.pagination .active {
  background: #0ab1ce;
}
.pagination .disable {
  background: #ccc;
}

.ambientlight {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #050505;
  animation: colorChange 4s linear infinite;
}
.ambientlight .cube {
  position: relative;
  width: 400px;
  height: 100px;
  transform-style: preserve-3d;
  animation: aniambi 4s linear infinite;
}
@keyframes aniambi {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
@keyframes colorChange {
  0%, 100% {
    filter: hue-rotate(270deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
.ambientlight .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.ambientlight span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(21, 21, 25), rgb(255, 6, 6));
  transform-style: preserve-3d;
  transform: rotateY(calc(90deg * var(--i))) translateZ(200px);
}
.ambientlight .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: #222;
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ambientlight .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background: rgb(255, 6, 6);
  transform: translateZ(-250px);
  opacity: 0.75;
  box-shadow: 0 0 120px rgba(255, 6, 6, 0.2), 0 0 200px rgba(255, 6, 6, 0.4), 0 0 300px rgba(255, 6, 6, 0.6), 0 0 400px rgba(255, 6, 6, 0.8), 0 0 500px rgb(255, 6, 6);
}
.ambientlight .top i {
  position: absolute;
  font-size: 15em;
  color: rgb(255, 6, 6);
  text-shadow: 0 0 50px rgb(255, 6, 6.25), 0 0 100px rgba(255, 6, 6, 0.5), 0 0 200px rgba(255, 6, 6, 0.75), 0 0 300px rgb(255, 6, 6);
}

.cubesanimation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #555;
  overflow: hidden;
}
.cubesanimation .container {
  position: relative;
  transform: skewY(-20deg);
}
.cubesanimation .cube {
  position: relative;
  translate: calc(var(--z) * 60px) calc(var(--z) * 60px);
}
.cubesanimation .cube div {
  position: absolute;
  translate: calc(-70px * var(--x)) calc(-70px * var(--y));
}
.cubesanimation .cube div span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #dcdcdc;
  transition: 1.5s;
}
.cubesanimation .cube div span.active {
  background: #ef4149;
  transform: translate(0, -50px);
  animation: aniColors 2s ease-in-out infinite;
}
.cubesanimation .cube div span::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #c8c8c8;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 1.5s;
}
.cubesanimation .cube div span.active::before {
  background: #f75d64;
}
.cubesanimation .cube div span::after {
  content: "";
  position: absolute;
  top: -40px;
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 1.5s;
  box-shadow: -100px 100px 5px rgba(0, 0, 0, 0.15);
}
.cubesanimation .cube div span.active::after {
  background: #f14e55;
  box-shadow: -150px 150px 5px rgba(0, 0, 0, 0.15);
}
@keyframes aniColors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.mouseslider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  background: #222;
}
.mouseslider .box {
  position: relative;
  display: flex;
}
.mouseslider .item {
  position: absolute;
  width: 200px;
  height: 300px;
  background: #cb4af7;
  transition: 0.25s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  top: calc(50% - 150px);
  left: calc(50% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: consolas;
  font-weight: 500;
  color: #fff;
  opacity: 0;
}
.mouseslider .item:nth-child(1) {
  transform: translate3d(-250px, 0, 0) scale(0.8);
  opacity: 1;
  z-index: 1;
  background: #ff6464;
}
.mouseslider .item:nth-child(2) {
  transform: translate3d(-250px, 0, 0) scale(0.8);
  opacity: 1;
  z-index: 2;
  background: #ff6464;
}
.mouseslider .item:nth-child(3) {
  transform: translate3d(-150px, 0, 0) scale(0.9);
  opacity: 1;
  z-index: 3;
  background: #64c0ff;
  font-size: 6em;
}
.mouseslider .item:nth-child(4) {
  transform: translate3d(0px, 0, 0) scale(1);
  opacity: 1;
  z-index: 4;
  background: #fff;
  color: #333;
  font-size: 8em;
}
.mouseslider .item:nth-child(5) {
  transform: translate3d(150px, 0, 0) scale(0.9);
  opacity: 1;
  z-index: 3;
  background: #48e365;
  font-size: 6em;
}
.mouseslider .item:nth-child(6) {
  transform: translate3d(250px, 0, 0) scale(0.8);
  opacity: 1;
  z-index: 2;
  background: #cb4af7;
}
.mouseslider .item:nth-child(7) {
  transform: translate3d(250px, 0, 0) scale(0.8);
  opacity: 1;
  z-index: 1;
}