@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circletext {
  font-family: "Roboto", sans-serif;
  min-height: 80vh;
  background: #222;
  overflow: hidden;
  cursor: none;
}
.circletext .text {
  position: absolute;
  font-size: 1.5em;
  color: #0f0;
  text-align: center;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  transition: opacity 0.25s;
  animation: aniColor 5s linear infinite;
}
.circletext .text::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #0f0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.circletext:hover .text {
  opacity: 1;
}
.circletext .text span {
  position: absolute;
  top: -100px;
  text-transform: uppercase;
  transform-origin: 0 100px;
  font-weight: 400;
}
@keyframes aniColor {
  0% {
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 15px #0f0) hue-rotate(0deg);
  }
  100% {
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 15px #0f0) hue-rotate(360deg);
  }
}

.playingcards {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #0f0f0f;
  overflow: hidden;
}
.playingcards .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.playingcards .card {
  position: absolute;
  width: 240px;
  height: 320px;
  border-radius: 8px;
  background: #5e5cfc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  border: 10px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
  transform-origin: 50% 100%;
  font-size: 8em;
  font-weight: 700;
  filter: hue-rotate(calc(var(--i) * 50deg));
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}
.playingcards .container:hover .card {
  transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 120px), -50px);
  color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);
}
.playingcards .container:active .card {
  background: #333;
}
.playingcards .container .card:active {
  translate: calc(var(--i) * 20px) -50px;
  z-index: 100;
  background: #5e5cfc;
}

.infiscrollcss {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #111;
  flex-direction: column;
}
.infiscrollcss .scroll {
  position: relative;
  display: flex;
  width: 700px;
  text-transform: uppercase;
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.infiscrollcss .scroll div {
  white-space: nowrap;
  animation: aniScroll var(--t) linear infinite;
  animation-delay: calc(var(--t) / -1);
}
@keyframes aniScroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.infiscrollcss .scroll div:nth-child(2) {
  animation: aniScroll2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}
@keyframes aniScroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.infiscrollcss .scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}
.infiscrollcss .scroll div span:hover {
  background-color: #4caf50;
  cursor: pointer;
}
.infiscrollcss .imgbx img {
  max-width: 100px;
  scale: 0.8;
  filter: grayscale(1);
}
.infiscrollcss .imgbx img:hover {
  filter: grayscale(0);
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --default-color: hsl(200, 4%, 60%);
  --active-color: hsl(200, 70%, 56%);
  --error-color: hsl(353, 64%, 53%);
  --border-color: hsl(200, 4%, 64%);
  --text-color: hsl(200, 4%, 24%);
  --body-color: hsl(0, 0%, 100%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

.mailvalidation {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-color);
}
.mailvalidation input {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--text-color);
}
.mailvalidation .container {
  height: 60vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}
.mailvalidation .form {
  width: 100%;
  max-width: 340px;
}
.mailvalidation .form-field {
  position: relative;
}
.mailvalidation .form-input {
  width: 100%;
  border: 3px solid var(--default-color);
  padding: 1.4rem 1.4rem 1.4rem 4.5rem;
  border-radius: 4rem;
  outline: none;
  font-weight: 500;
  transition: border-color 0.4s, box-shadow 0.4s;
}
.mailvalidation .form-input::-moz-placeholder {
  color: var(--text-color);
}
.mailvalidation .form-input::placeholder {
  color: var(--text-color);
}
.mailvalidation .form-label {
  position: absolute;
  left: 1.5rem;
  top: -0.65rem;
  background-color: var(--body-color);
  padding: 2px;
  font-size: var(--small-font-size);
  font-weight: 500;
}
.mailvalidation .form-icon {
  height: -moz-max-content;
  height: max-content;
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  bottom: 0;
  margin-block: auto;
}
.mailvalidation .form-field::after {
  content: "";
  position: absolute;
  height: 28px;
  border: 1px solid var(--border-color);
  left: 3.75rem;
  top: 0;
  bottom: 0;
  margin-block: auto;
}
.mailvalidation .form-error {
  position: absolute;
  left: 1.5rem;
  bottom: -1.5rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  color: var(--error-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}
.mailvalidation .form-error i {
  font-size: 1rem;
}
.mailvalidation .form-error span {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}
.mailvalidation .form-input:focus,
.mailvalidation .valid .form-input {
  border-color: var(--active-color);
  box-shadow: 0 8px 24px hsla(200, 70%, 56%, 0.3);
}
.mailvalidation .invalid .form-input {
  border-color: var(--error-color);
  box-shadow: 0 8px 24px hsla(353, 64%, 53%, 0.3);
}
.mailvalidation .invalid .form-error {
  opacity: 1;
}

.glowingcorner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #222;
  gap: 40px;
}
.glowingcorner .loader {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(calc(90deg * var(--i)));
  background: rgb(45, 45, 45);
  overflow: hidden;
}
.glowingcorner .loader::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(var(--clr), transparent, transparent);
  animation: aniCorner 1.5s linear infinite;
}
.glowingcorner .loader::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgba(45, 45, 45, 0.9);
}
@keyframes aniCorner {
  0% {
    transform: translate(-150px, -150px);
  }
  25% {
    transform: translate(0px, -150px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(-150px, 0);
  }
  100% {
    transform: translate(-150px, -150px);
  }
}

.dslideshow {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #111;
}
.dslideshow .slideshow {
  position: relative;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.dslideshow .slide {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  transform: rotateY(270deg);
  transform-style: preserve-3d;
  animation: ani3d 20s linear infinite;
  animation-delay: calc(var(--i) * 2s);
}
@keyframes ani3d {
  0% {
    transform: rotateY(270deg);
  }
  10%, 100% {
    transform: rotateY(90deg);
  }
}
.dslideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.dslideshow h2 {
  position: relative;
  z-index: 1000;
  color: #fff;
  font-size: 10em;
  transform: rotateY(180deg) translateY(100px) translateZ(50px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  font-weight: 900;
  -webkit-text-stroke: 1px #000;
}
.dslideshow h2 span {
  position: absolute;
  top: 50%;
  left: 0;
  font-weight: 500;
  font-size: 0.5em;
  transform: translate(0, 50%) translateZ(50px);
  backface-visibility: hidden;
}

.imagegrid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60VH;
  background: #222;
  padding: 4rem;
}
.imagegrid .container {
  position: relative;
  display: grid;
  width: 600px;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas: "img1 img3 img4" "img1 img3 img6" "img2 img3 img6" "img2 img5 img5";
}
.imagegrid .img1 {
  grid-area: img1;
}
.imagegrid .img2 {
  grid-area: img2;
}
.imagegrid .img3 {
  grid-area: img3;
}
.imagegrid .img4 {
  grid-area: img4;
}
.imagegrid .img5 {
  grid-area: img5;
}
.imagegrid .img6 {
  grid-area: img6;
}
.imagegrid .item {
  position: relative;
}
.imagegrid .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  border-radius: 10px;
}
.imagegrid .container:hover .item img:not(:hover) {
  filter: grayscale(1);
  opacity: 0.5;
}