*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Typing Effect **************************************************************************************************************************
.typingeffect{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000001;
  .typing-container{
    display: flex;
    font-size: 2em;
    color: #fff;
    letter-spacing: 0.1em;
    width: 100%;
    padding: 50px;
  }
  .cursor{
    display: inline-block;
    margin-left: 2px;
    color: #fff;
    animation: blink .6s step-end infinite;
  }
  @keyframes blink{
    50%{
      opacity: 0;
    }
  }
}
// Keyboard **************************************************************************************************************************
.keyboard-wrapper{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  .keyboard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
  }
  .key{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 8px 15px;
    background: linear-gradient(180deg,#282828,#202020);
    box-shadow: inset -8px 0 8px rgba(0,0,0,.15), inset 0 -8px 8px rgba(0,0,0,.25), 10px 20px 25px rgba(0,0,0,.4), 0 0 0 2px rgba(0,0,0,.75);
    border-radius: 10px;
    overflow: hidden;
  }
  .key::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    bottom: 10px;
    right: 8px;
    background: linear-gradient(90deg, #222323,#4a4a4a);
    box-shadow: -5px -5px 5px rgba(255,255,255,.25), 10px 5px 10ps rgba(0,0,0,.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
    border-radius: 8px;
  }
  .key i{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.2em;
    opacity: .75;
    font-style: normal;
    font-weight: normal;
  }
  .break{
    flex-basis: 100%;
  }
  .key.active{
    background: #f00;
  }
  .key.active::before{
    background: linear-gradient(90deg,#d20000,#ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
  }
}
// ************************************************************************ Progress Bar ********************************
.progress-bar{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    flex-direction: column;
  }
  .circle::before{
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: #222;
    opacity: .8;
  }
  .circle::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #222;
    border: 15px solid #4d4c51;
    box-shadow: inset 0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.75),
    0 -2px 2px rgba(255,255,255,.5),
    inset 0 4px 2px rgba(0,0,0,.25),
    inset 0 -2px 2px rgba(255,255,255,.5);
  }
  .number{
    position: relative;
    color: #fff;
    z-index: 10;
    line-height: 1em;
    font-size: 2em;
  }
  .number span{
    font-size: .5em;
    font-weight: 500;
  }
  h4{
    position: relative;
    color: #fff;
    z-index: 10;
    font-weight: 500;
    font-size: .8em;
    text-transform: uppercase;
    line-height: .6em;
  }
}
// *************************************************************************Sticky Notes
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
.sticky-notes{
  font-family: 'Poppins';
  width: 100%;
  height: 100vh;
  background: #2f363e;
  .container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
  }
  .notes{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .note{
    position: relative;
    width: 300px;
    height: 300px;
    background: #f7e98d;
    padding: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,.25);
    &::before{
      content: 'Double Click to Remove This Note';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,.15);
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .85em;
      opacity: 0;
      transition: .5s;
    }
    &:hover::before{
      opacity: 1;
    }
  }
  #create{
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(255,255,255,.15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
    cursor: pointer;
  }
  #create i{
    position: absolute;
    color: #fff;
  }
  .createBox{
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 1000;
    display: none;
  }
  .createBox textarea{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    padding: 20px;
    resize: none;
    font-size: .2em;
  }
  .details h3{
    font-family: 'Handlee', cursive;
    user-select: none;
    font-size: 1.45em;
  }
}
// Preloader **************************************************************************************************************************
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #181b1c;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  transition: .5s ease-out;
  .counter{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .number{
    position: absolute;
    color: #fff;
    font-size: 10vw;
    font-weight: 300;
    bottom: 4vh;
    right: 4vw;
    span{
      font-size: .5em;
    }
  }
  .progress{
    position: relative;
    width: 100%;
    height: 5px;
    background: #2f3034;
  }
  .percentBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    transition: .1s;
  }
}