@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Menu Hover*********************************************************************************************************************************************
.menuhover{
  font-family: 'Genos', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #111;
  overflow: hidden;
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  li{
    list-style: none;
    a{
      position: relative;
      font-size: 4em;
      font-weight: 600;
      color: #fff;
      line-height: 1.2em;
      text-decoration: none;
      text-transform: uppercase;
      transition: .5s;
      z-index: 2;
    }
  }
  ul:hover li:not(:hover) a{
    opacity: .5;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
  ul li .image{
    position: absolute;
    top: 0;
    left: 0;
    translate: -50% -50%;
    pointer-events: none;
    z-index: 1;
    width: 0;
    transition: width .5s;
  }
  ul li:hover .image{
    width: 300px;
  }
}
// ************************************************************* menu hover 2*****************************************************************
.menuhover2{
  font-family: 'Genos', sans-serif;
  font-size: 10px;
  .container{
    height: 100vh;
    background-color: #faf4ed;
    display: grid;
    place-items: center;
  }
  .navgation{
    width: 70rem;
    background-color: #fff;
    padding: 100px;
    border-radius: 10px;
    position: relative;
  }
  .nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    transition: padding .3s, opacity .3s;
    &:first-child{
      border-top: 1px solid #000;
    }
    & span{
      font-size: 15px;
    }
    &:hover{
      padding: 30px;
      opacity: .5;
    }
  }
  .nav-link{
    text-decoration: none;
    font-size: 40px;
    color: #222;
  }
  .gallery{
    position: absolute;
    top: 100px;
    width: 250px;
    height: 200px;
    overflow: hidden;
    pointer-events: none;
    background-color: #111;
    transform: translate(-50%,-50%) scale(0);
    transition:  background-color .2s, top .15s, left .15s,
    transform .3s;
  }
  .images{
    height: 400%;
    transition: transform .3s .1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .images img{
    width: 100%;
    height: 25%;
    object-fit: cover;
    padding: 30px;
    box-sizing: border-box;
  }
}

// Horizontal slider *********************************************************************************************************************************************
.horislider{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f1c40f;
  height: 100vh;
}
.slider-container::-webkit-scrollbar{
  height: 7px;
}
.slider-container::-webkit-scrollbar-track{
  background: none;
  border-radius: 10px;
}
.slider-container::-webkit-scrollbar-thumb{
  background: #ffffffae;
  border-radius: 10px;
}
.slider-container::-webkit-scrollbar-thumb:hover{
  background: #fff;
}
.slider-container{
  width: 100%;
  overflow-x: auto;
}
.slider{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow-x: auto;
  margin: auto;
  padding: 20px;
}
.slide{
  width: 250px;
  height: 300px;
  background-color: #fff;
  border-radius: 2px;
  mask-border: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: .3s ease;
}
.slide h4{
  font-size: 30px;
}
.slide p{
  font-size: 14px;
  margin-top: 5px;
  opacity: .7;
  margin-bottom: 20px;
}
.slide .icon{
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 30px;
}
.slide:hover{
  scale: 1.1;
}
// Pagination *******************************************************************************************************************************************************
.pagination{
  font-family: 'Poppins', sans-serif;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
  }
  .card{
    position: relative;
    background: #fff;
    display: flex;
    max-width: 400px;
    width: 400px;
    height: 250px;
    margin: 25px;
    box-shadow: 0 5px 25px rgba(1 1 1 /20%);
    border-radius: 10px;
    overflow: hidden;
  }
  .card-image{
    width: 40%;
  }
  .card-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
  }
  .card-info h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
  }
  .card-info p{
    font-size: 1em;
    margin-bottom: 5px;
  }
  .pagination-wrapper{
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
    a{
      color: #fff;
      text-decoration: none;
      font-size: 1.2em;
      line-height: 45px;
    }
  }
  .pagination-wrapper li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgba(1 1 1 /10%);
  }
  .previous-page, .next-page{
    background: #0ab1ce;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: .3s ease;
  }
  .previous-page:hover{
    transform: translateX(-5px);
  }
  .next-page:hover{
    transform: translateX(5px);
  }
  .current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
  .active{
    background: #0ab1ce;
  }
  .disable{
    background: #ccc;
  }
}
// Ambientlight ***********************************************************************************************************************************************
.ambientlight{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #050505;
  animation: colorChange 4s linear infinite;
  .cube{
    position: relative;
    width: 400px;
    height: 100px;
    transform-style: preserve-3d;
    animation: aniambi 4s linear infinite;
  }
  @keyframes aniambi{
    0%{
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  @keyframes colorChange{
    0%,100%{
      filter: hue-rotate(270deg);
    }
    50%{
      filter: hue-rotate(360deg);
    }
  }
  .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(21,21,25,1), rgba(255,6,6,1));
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(200px);
  }
  .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: #222;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(200px);
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 400px;
      background: rgba(255,6,6,1);
      transform: translateZ(-250px);
      opacity: .75;
      box-shadow: 0 0 120px rgba(255,6,6,.2),
       0 0 200px rgba(255,6,6,.4),
        0 0 300px rgba(255,6,6,.6),
         0 0 400px rgba(255,6,6,.8),
          0 0 500px rgba(255,6,6,1);
    }
    i{
      position: absolute;
      font-size: 15em;
      color: rgba(255,6,6,1);
      text-shadow: 0 0 50px rgba(255,6,6.25), 0 0 100px rgba(255,6,6,.5), 0 0 200px rgba(255,6,6,.75), 0 0 300px rgba(255,6,6,1);
    }
  }
}
// CubesAnimation *************************************************************************************************************************************************
.cubesanimation{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #555;
  overflow: hidden;
  .container{
    position: relative;
    transform: skewY(-20deg);
  }
  .cube{
    position: relative;
    translate: calc(var(--z) * 60px) calc(var(--z) * 60px);
    div{
      position: absolute;
      translate: calc(-70px * var(--x)) calc(-70px * var(--y));
      span{
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #dcdcdc;
        transition: 1.5s;
      }
      span.active{
        background: #ef4149;
        transform: translate(0,-50px);
        animation: aniColors 2s ease-in-out infinite;

      }
      span::before{
        content: '';
        position: absolute;
        left: -40px;
        width: 40px;
        height: 100%;
        background: #c8c8c8;
        transform-origin: right;
        transform: skewY(45deg);
        transition: 1.5s;
      }
      span.active::before{
        background: #f75d64;
      }
      span::after{
        content: '';
        position: absolute;
        top: -40px;
        width: 100%;
        height: 40px;
        background: #f2f2f2;
        transform-origin: bottom;
        transform: skewX(45deg);
        transition: 1.5s;
        box-shadow: -100px 100px 5px rgba(0,0,0,.15);
      }
      span.active::after{
        background: #f14e55;
        box-shadow: -150px 150px 5px rgba(0,0,0,.15);
      }
    }
  }
  @keyframes aniColors{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
}
// MouseSLider ************************************************************************************************************************************************
.mouseslider{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  background: #222;
  .box{
    position: relative;
    display: flex;
  }
  .item{
    position: absolute;
    width: 200px;
    height: 300px;
    background: #cb4af7;
    transition: .25s;
    box-shadow: 0 0 50px rgba(0,0,0,.5);
    user-select: none;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: consolas;
    font-weight: 500;
    color: #fff;
    opacity: 0;
  }
  .item:nth-child(1){
    transform: translate3d(-250px,0,0) scale(.8);
    opacity: 1;
    z-index: 1;
    background: #ff6464;
  }
  .item:nth-child(2){
    transform: translate3d(-250px,0,0) scale(.8);
    opacity: 1;
    z-index: 2;
    background: #ff6464;
  }
  .item:nth-child(3){
    transform: translate3d(-150px,0,0) scale(.9);
    opacity: 1;
    z-index: 3;
    background: #64c0ff;
    font-size: 6em;
  }
  .item:nth-child(4){
    transform: translate3d(-0px,0,0) scale(1);
    opacity: 1;
    z-index: 4;
    background: #fff;
    color: #333;
    font-size: 8em;
  }
  .item:nth-child(5){
    transform: translate3d(150px,0,0) scale(.9);
    opacity: 1;
    z-index: 3;
    background: #48e365;
    font-size: 6em;
  }
  .item:nth-child(6){
    transform: translate3d(250px,0,0) scale(.8);
    opacity: 1;
    z-index: 2;
    background: #cb4af7;
  }
  .item:nth-child(7){
    transform: translate3d(250px,0,0) scale(.8);
    opacity: 1;
    z-index: 1;
  }

}