// *********************************************************************************************************************************************
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.blogcontainer{
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(145deg, #6db193 0%, #00814b 75%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-card{
  width: 55%;
  height: 40%;
  background-color: rgb(40, 40, 40);
  border-radius: 25px;
  padding: 2.5rem;
  box-shadow: 0 1.4rem 8rem rgba(40,40,40,.8);
  position: relative;
  transition: all .5s;
}
.change.blog-card{
  width: 65%;
  height: 80%;
}
.blog-card-img{
  width: 30rem;
  height: 30rem;
  background: linear-gradient(145deg, #6db193 0%, #00814b 75%);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: -5rem;
  transform: translateY(-50%);
  transition: all .5s;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: .5;
  }
}
.change .blog-card-img{
  transform: translateY(-50%) scale(.6);
  top: 15%;
  left: -10rem;
}
.blog-card-content{
  position: absolute;
  top: 15%;
  left: 40%;
  transform: scale(.8);
  z-index: 10;
  transition: all .5s;
  h1{
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
  }
  h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #999;
    margin-bottom: 20px;
  }
  p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #777;
    width: 35rem;
    margin-bottom: 3rem;
  }
}
.change .blog-card-content{
  top: 0%;
  left: 20%;
  transform: scale(.8);
}
.card-btn{
  width: 16rem;
  height: 40px;
  border: none;
  color: #fff;
  background: linear-gradient(145deg, #6db193 0%, #00814b 75%);
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .1px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.blog-tours{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  bottom: 60px;
  left: 0;
}
.blog-tours-item{
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0,0,0,.3);
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  span{
    position: absolute;
    top: 50%;
    left: -35%;
    transform: translateY(-50%) rotateZ(-90deg);
    font-family: 'Kanit', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #fff;
  }
  i{
    width: 60px;
    height: 60px;
    background-color: #01683d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    opacity: 0;
    visibility: hidden;
  }
}
.change .blog-tours-item{
  opacity: 1;
  visibility: visible;
}
.change .blog-tours-item:nth-child(1){
  transition: all .3s .3s;
}
.change .blog-tours-item:nth-child(2){
  transition: all .3s .5s;
}
.change .blog-tours-item:nth-child(3){
  transition: all .3s .7s;
}
.tour-img{
  width: 20rem;
  height: 30rem;
  background: linear-gradient(135deg, #6db193, #135627);
  border-radius: 10px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: .5;
    transition: all .3s;
  }
}
.blog-tours-item:hover .tour-img img{
  opacity: .05;
}
.blog-tours-item:hover i{
  opacity: 1;
  visibility: visible;
  transition: all .3s .1s;
}
// imgslider*****************************************************************************************************************************************
.imgslider{
  width: 100%;
  height: 100vh;
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .imgScroll{
    position: absolute;
    left: 0;
    padding: 60px 0;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    div{
      display: flex;
      animation: animate 40s linear infinite;
      animation-delay: -40s;
      img{
        margin: 0 25px;
        max-width: 300px;
        border: 10px solid tranparent;
        transition: .25s;
        object-fit: cover;
      }
      img:hover{
        border: 10px solid #fff;
        box-shadow: 0 20px 40px rgba(0,0,0,.1);
      }
    }
    div:hover img{
      opacity: .05;
      filter: blur(5px);
    }
    div:nth-child(2){
      animation: animate2 40s linear infinite;
      animation-delay: -20s;
    }
  }
  .imgScroll div img:hover{
    opacity: 1;
    filter: blur(0);
  }
  .imgScroll:hover div,
  .imgScroll:hover div:nth-child(2){
    animation-play-state: paused;
  }
  @keyframes animate{
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }
  @keyframes animate2{
    0%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-200%);
    }
  }
}

// *******************************************************************fullscreenlidercss
.cssfullscreenslider{
  font-family: 'Roboto', sans-serif;
  .container{
    position: relative;
    width: 100%;
    height: 100VH;
    background-color: #000;
    overflow: hidden;
  }
  .tabs input{
    visibility: hidden;
    display: none;
  }
  .buttons{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100000;
    label{
      width: 20px;
      height: 20px;
      background: #fff;
      opacity: .5;
      border-radius: 20px;
      cursor: pointer;
      transition: .5s;
    }
  }
  .tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
  .tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
  .tabs input:nth-child(3):checked ~ .buttons label:nth-child(3){
    opacity: 1;
    width: 50px;
  }
  .content{
    position: relative;
    width: 300vw;
    display: flex;
    transition: .5s;
    .box{
      position: relative;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      padding: 40px;
      &:nth-child(1){
        background: linear-gradient(90deg, #43cea2,#185a9d);
      }
      &:nth-child(2){
        background: linear-gradient(90deg, #ff4e50,#f9d423);
      }
      &:nth-child(3){
        background: linear-gradient(90deg, #9d50bb,#6e48aa);
      }
    }
  }
  .tabs input:nth-child(1):checked ~ .content{
    left: 0;
  }
  .tabs input:nth-child(2):checked ~ .content{
    left: -100vw;
  }
  .tabs input:nth-child(3):checked ~ .content{
    left: -200vw;
  }
  .contentbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    h2{
      font-size: 4em;
      color: #fff;
    }
    p{
      font-size: 1.8em;
      color: #fff;
      max-width: 400px;
      text-align: center;
    }
    button{
      font-size: 1.8em;
      text-decoration: none;
      text-transform: uppercase;
      padding: 15px 35px;
      background-color: #fff;
      color: #333;
      margin-top: 10px;
      letter-spacing: .05em;
      font-weight: 600;
      border: none;
      border-radius: 40px;
      transition: .5s;
      &:hover{
        letter-spacing: .02em;
      }
    }
  }
}
// Testimonials section
.testimonialslider{
  font-family: 'Roboto', sans-serif; 
  .container{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #3f3e3e;
  }
  .testimonials{
    padding: 50px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 7rem 0;
  }
  .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span:first-child{
      font-size: 50px;
      font-weight: 400;
      color: #fff;
    }
    span:last-child{
      font-size: 20px;
      color: #aaa;
      font-weight: 500;
    }
  }
  .quote{
    background-color: #333;
    padding: 70px;
    border: 1px solid aqua;
    border-radius: 10px;
    position: relative;
    transition: border-color .5s;
  }
  .stars{
    margin-bottom: 1.5rem;
    i{
      color: palegreen;
      font-size: 20px;
    }
  }
  .quote-text{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    height: 150px;
    padding-right: 20px;
    overflow-y: scroll;
    // firefox
    scrollbar-color: #888 #555;
    scrollbar-width: thin;
  }
  .quote-text::-webkit-scrollbar{
    width: 5px;
    background-color: #555;
  }
  .quote-text::-webkit-scrollbar-thumb{
    background-color: #888;
  }
  .quote-icon{
    color: #555;
    font-size: 70px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
  }
  .card{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 30px;
    padding: 30px;
    border-block: .1rem solid;
    cursor: pointer;
    transition: background-color .5s;
  }
  .card:nth-child(1){
    border-color: aqua;
    background-color: #333;
  }
  .card:nth-child(2){
    border-color: darkorange;
  }
  .card:nth-child(3){
    border-color: violet;
  }
  .card img{
    width: 70px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100px;
  }
  .name{
    color: #eee;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .profession{
    color: #888;
    font-size: 15px;
  }
}
// *****************************************************************************************************************************************
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&display=swap');
.menuhover{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  min-height: 600px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  .list{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  li{
    list-style: none;
  }
  li a{
    position: relative;
    display: flex;
    font-size: 64px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
  li a span{
    position: relative;
    transition: .5s;
    overflow: hidden;
  }
  li a span .out{
    display: inline-flex;
  }
  li a:hover span .out{
    transform: translateY(-100%);
  }
  li a span .in{
    position: absolute;
    color: #2aa1ff;
    transform: translateY(100%);
    left: 0;
  }
  li a:hover span .in{
    transform: translateY(0);
  }
}