*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
html, body{
  width: 100%;
  height: 100vh;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 12vw;
  white-space: nowrap;
  font-family: 'Slackey', cursive;
}
.header .letter{
  display: inline-block;
  line-height: 1em;
}
.overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
}
.images{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
}
.img{
  width: 140px;
  height: 180px;
  background: darkblue;
  filter: grayscale(1);
  opacity: 0.6;
}
.img1{
  transform: scale(1);
  background: url(img/BGpics056.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.img2{
  transform: scale(1.4);
  background: url(img/BGpics060.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.img3{
  transform: scale(1.2);
  background: url(img/BGpics057.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.img4{
  transform: scale(0.9);
  background: url(img/BGpics061.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.img5{
  transform: scale(1.2);
  background: url(img/BGpics058.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.img6{
  transform: scale(1);
  background: url(img/BGpics062.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.img7{
  transform: scale(1.1);
  background: url(img/BGpics059.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.img8{
  transform: scale(0.9);
  background: url(img/BGpics063.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.navbar{
  position: absolute;
  bottom: 40px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
}