@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #e3dcc7;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100px;
  color: #6d6458;
  font-family: 'Staatliches', cursive;
}
.site-menu{
  display: flex;
}
.menu-item{
  margin-left: 60px;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 400px;
}
.block{
  position: absolute;
  width: 100%;
  height: 100%;
}
.b-1{
  background: url(./img/IMG_0184.PNG) 50% 50% no-repeat;
  background-size: cover;
}
.b-2{
  background: url(./img/IMG_0185.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.b-3{
  background: url(./img/IMG_0186.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.b-4{
  background: url(./img/IMG_0187.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.b-5{
  background: url(./img/IMG_0188.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.b-6{
  background: url(./img/IMG_0189.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.b-7{
  background: url(./img/IMG_0190.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 50vh;
  bottom: -10rem;
  background: #e3dcc7;
}
.title{
  margin-top: 20rem;
  text-align: center;
  font-size: 8em;
  color: #393833;
  overflow: hidden;
  font-family: 'Staatliches', cursive;
}
.title .letter{
  display: inline-block;
  line-height: 1em;
}