@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Gudea', sans-serif;
}
header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3));
  color: #fff;
}

.about{
  height: 300vh;
  display: flex;
}
.about-title{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0!important;
}
.about-pages{
  width: 50%;
}
.about-pages div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.about-pages div> p{
  line-height: 30px;
  width: 80%;
  font-size: 18px;
}
.about-pages .sub-page-1{
  background-color: rgb(56,134,89);
}
.about-pages .sub-page-2{
  background-color: rgb(129,42,110);
}
.about-pages .sub-page-3{
  background-color: rgb(31,88,107);
}
footer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}