@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f0eed7;
  color: #161616;
  overflow: hidden;
}
header{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 80px;
  width: 100%;
}
.img{
  width: 60px;
  padding: 0 20px;
  /* filter: invert(.9); */
}
.img .fa{
  font-size: 40px;
}
.heading{
  font-family: 'Antic Didone';
}
.menu{
  width: 35px;
  padding: 0 50px;
}
.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inner-container{
  width: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: transparent;
  height: 100%;
  transition: all .8s cubic-bezier(0.19, 1, 0.22, 1) ease-in-out;
}
.inner-inner-container{
  width: 100%;
  height: 80%;
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-left: 1px solid rgba(39,39,39,.281);
}
.top-section h1{
  font-size: 3rem;
  font-family: 'Antic Didone';
  font-weight: lighter;
  text-transform: uppercase;
}
.top-section p{
  padding: .5rem 0;
  font-family: 'Antic Didone';
  font-size: .8rem;
  letter-spacing: 1px;
  padding-left: 2px;
}
.inner-container .bottom-section{
  font-size: 25rem;
  margin-bottom: 50px;
  font-family: 'Antic Didone';
  font-weight: lighter;
  color: #8f0000;
}
.inner-container:hover .top-section h1{
  transition: color .8s cubic-bezier(.19, 1, 0.22, 1);
  color: #fff;
}
.inner-container:hover .top-section p{
  transition: color .8s cubic-bezier(.19, 1, 0.22, 1);
  color: #fff;
}
.inner-container:hover .bottom-section{
  transition: color .8s cubic-bezier(.23, 1, 0.320, 1);
  color: #fff;
}
.inner-container-1:hover{
  background-image: url(img/balloon1.jpg);
}
.inner-container-2:hover{
  background-image: url(img/balloon2.jpg);
}
.inner-container-3:hover{
  background-image: url(img/balloon3.jpg);
}
.inner-container-4:hover{
  background-image: url(img/balloon4.jpg);
}