@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;300;400;500;600&display=swap');
:root{
  --primary: #ededed;
  --secondary: #000000;
}
html{
  font-size: calc(100vw / 1920 *10);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'genos', sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  /* overflow-x: hidden; */
}
h1{
  font-size: 10rem;
  text-transform: uppercase;
  line-height: .8;
}
h2{
  font-size: 6rem;
  text-transform: uppercase;
}
p{
  font-size: 2.4rem;
}
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0 8rem;
}
.hero-col{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 8rem;
  border-left: 1px solid #00000060;
  width: inherit;
  height: inherit;
}
.hero-col:nth-child(2){
  border-right: 1px solid #00000061;
}
.hero-col-slider{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.hero-col-slider-item{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60rem;
  height: 100%;
}
.hero-col-slider-item figure{
  position: relative;
  width: 50rem;
  height: 50rem;
  border-radius: 2rem;
  overflow: hidden;
}
.hero-col-slider-item img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.hero-col-slider-item h2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px){
  html{
    font-size: calc(100vw / 768 * 10);
  }
  .hero{
    height: 100%;
  }
  .hero-wrapper{
    flex-direction: column;
    height: 100%;
    padding: 0 2rem;
  }
  .hero-col:nth-child(1){
    border-right: 1px solid #00000061;
    padding: 8rem;
  }
  .hero-col-slider-item{
    position: relative;
    margin-bottom: 6.4rem;
  }
}

/* Menu ***************************************************************************************************************************************************** */
.menu{
  position: fixed;
  top: 20px;
  right: 80px;
}
.menu-btn{
  position: fixed;
  top: 20px;
  right: 80px;
  width: 100px;
  height: 40px;
  border: none;
  font-family: 'Genos', sans-serif;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}
.menu-btn div{
  text-transform: uppercase;
  width: inherit;
  height: inherit;
  display: grid;
  place-items: center;
  perspective: 1000px;
  position: relative;
  top: 0;
  transition: top .5s ease-in;
}
.change .menu-btn div{
  top: -40px;
}
.menu-btn div:first-child{
  background-color: #c0ff61;
  color: #444;
}
.menu-btn div:last-child{
  background-color: #1e1e20;
  color: #c0ff61;
}
.menu-btn span{
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .3s ease-in;
  transform-origin: top;
}
.menu-btn span::before{
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: rotateX(-90deg);
  transform-origin: top;
}
.menu-btn div:first-child:hover span{
  transform: rotateX(90deg);
}
.menu-btn div:last-child:hover span{
  transform: rotateX(90deg);
}
.nav{
  /* position: absolute; */
  top: 20px;
  right: 80px;
  background-color: #c0ff61;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0 50px 50px;
  transform: scale(0.2,0.06);
  transform-origin: 100% 0;
  transition: transform .5s .5s ease-in-out, top .5s .5s, right .5s .5s;
}
.change .nav{
  transform: scale(1);
  top: 0;
  right: 0;
}
a{
  color: #555;
  text-decoration: none;
}
li{
  list-style: none;
}
.nav-link{
  font-size: 40px;
  font-weight: 200;
  text-transform: uppercase;
  transform: translate3d(20px, 70px, 0) rotateX(90deg);
  opacity: 0;
}
.change .nav-link{
  transform: translate3d(0, 0, 0) rotateX(0);
  opacity: 1;
  transition: opacity .5s var(--i), transform .5s var(--i);
}
.social-media{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.social-media-group{
  flex-direction: row;
}
.social-media-group a{
  font-size: 18px;
  font-weight: 200;
  color: #000;
  display: block;
}
.letter{
  transition: font-weight .4s;
}
.letter:hover{
  font-weight: 900;
  color: #ccc;
}
.letter:hover + .letter{
  font-weight: 500;
  color: #ddd;
}
.letter:has(+ .letter:hover){
  font-weight: 500;
  color: #ddd;
}