@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --primary: #212121;
  --secondary: #ffffff;
  --alternate: #502bd8;
}
html{
  font-size: max(100vw / 1920 * 10);
}
body{
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Open Sans', sans-serif;
}
section.nav{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: 100;
}
.nav-wrapper{
  padding: 2rem;
}
.nav-list{
  display: inline-flex;
  gap: 10%;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}
.nav-list-item{
  font-size: 8rem;
  text-transform: uppercase;
  cursor: pointer;
}
section.transition{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
}
.transition-columns{
  display: flex;
  width: 100%;
}
.transition-column{
  position: relative;
  width: 20%;
  border-right: 1px solid #ffffff26;
  height: 100vh;
  transform: translateY(-101%);
  background-color: var(--alternate);
}
.transition-column-text{
  position: absolute;
  left: 2rem;
  top: 2rem;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.transition-column-text span{
  font-size: 6rem;
}
.transition-element{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 50%;
  width: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
}
.transition-element h1{
  font-size: 40rem;
  line-height: 0;
  text-align: center;
}