*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary: #e0e0e0;
  --secondary: #171717;
}
html{
  font-size: calc(100vw / 1920 * 10);
}
body{
  background-color: var(--primary);
  color: var(--secondary);
  overflow-x: hidden;
  font-family: 'Noto Serif Display', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
main.app{
  perspective: 500px;
}
h1{
  font-size: 8rem;
}
img{
  width: 100%;
  height: auto;
  background-size: cover;
}
p, span{
  font-size: 1.6rem;
  color: var(--secondary);
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.nav-wrapper{
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 2rem 2rem 0 2rem;
}
.nav-page{
  display: block;
  font-size: 2.4rem;
  text-decoration: none;
  color: var(--primary);
}
.transition{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}
.transition-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
}
.transition-figure{
  position: absolute;
  border: 1rem solid white;
}
.transition-figure:nth-child(1){
  left: 85rem;
  top: -12rem;
  width: 69rem;
  height: 80rem;
}
.transition-figure:nth-child(2){
  right: 0;
  bottom: -15rem;
  width: 65rem;
  height: 100rem;
}
.transition-figure:nth-child(3){
  left: 0;
  top: 0;
  width: 85rem;
  height: 100rem;
}
.transition-figure:nth-child(4){
  right: -20rem;
  top: 0;
  width: 60rem;
  height: 80rem;
}
.transition-figure:nth-child(5){
  left: 0;
  bottom: -35rem;
  width: 70rem;
  height: 90rem;
}
.transition-figure:nth-child(6){
  left: 45rem;
  bottom: -20rem;
  width: 90rem;
  height: 100rem;
}
.transition-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-wrapper{
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container{
  background-color: white;
  padding: 4.8rem;
  width: 50rem;
}
.hero-title{
  text-align: center;
  margin-bottom: 6.4rem;
}
.hero-side{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.hero-description{
  display: flex;
  gap: 3.2rem;
  text-align: justify;
}
.hero-description p{
  width: 50%;
}
.hero-image{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-image::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171717;
  opacity: .5;
}
.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 768px){
  html{
    font-size: calc(100vw / 768 *10);
  }
  h1{
    font-size: 22rem;
  }
}