@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(rgba(37,37,37,.9),rgba(37,37,37,.9)),url("img/grain.jpg"); */
  background-image: linear-gradient(#7D7B7C,#454545);
  font-family: 'Black Ops One', cursive;
  overflow: hidden;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
input:focus{
  outline: none;
}
.container{
  width: 100%;
  height: 100vh;
  background: url(img/BGpics077BG.png) no-repeat;
  background-size: auto;
  background-position: center bottom;
  display: grid;
  grid-template-columns: 8% auto;
}
.nav{
  width: 100%;
  height: 100%;
  border-right: 4px solid #fff;
}
.menu{
  border-bottom: 4px solid #fff;
  cursor: pointer;
  padding: 15px 0;
}
.menu span{
  width: 52px;
  height: 4px;
  display: block;
  background: #fff;
  margin: 6px auto;
}
.horiMenu{
  position: relative;
}
.horiMenu ul li a{
  writing-mode: vertical-lr;
  display: block;
  padding: 14px 20px;
  font-size: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.horiMenu ul li:last-child a{
  color: #3399ff;
}
.horiMenu span{
  display: block;
  width: 4px;
  height: 124px;
  background: #fff;
  /* margin-left: 32px; */
}
header{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: right;
  padding: 12px 0;
}
header a{
  color: #3399ff;
  position: relative;
}
header a::after{
  content: '';
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -1px;
  left: 6px;
}
.search{
  direction: rtl;
  padding-right: 40px;
  cursor: pointer;
}
.icon{
  width: 35px;
  height: 35px;
  background: transparent;
  border: 3px solid #3399ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  color: #fff;
}
.icon::after{
  content: '';
  position: absolute;
  width: 4px;
  height: 20px;
  background: #3399ff;
  top: 23px;
  left: 30px;
  transform: rotate(-45deg);
}
.heading{
  padding: 0px 40px;
  overflow: hidden;
}
h1{
  font-size: 63px;
  color: #fff;
  padding: 20px 0;
  text-shadow: 2px 2px #000,
  2px 2px 5px #000;
}
h1 span{
  color: #3399ff;
}
p{
  width: 31%;
  color: #fff;
  font-size: 15px;
}
.heading a{
  padding: 8px 20px;
  display: inline-block;
  border: 3px solid #3399ff;
  color: #3399ff;
  margin: 45px 0;
  transition: .5s;
}
.heading a:hover{
  color: #fff;
  background: #3399ff;
}

.soverlay{
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #3399ff;
  display: grid;
  place-content: center;
  clip-path: circle(0.1% at 97% 5%);
}
.cross{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.searchbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
.searchbox input{
  height: 46px;
  border: 2px solid #000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 300px;
  font-size: 20px;
  padding: 0 13px;
  font-family: 'Black Ops One', cursive;
}
.img{
  width: 62px;
  background: #000;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.hamburger{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  transform: translateX(-100%);
  z-index: 9999;
}
.hamburger .hclose{
  position: absolute;
  top: 20px;
  right: 40px;
  width: 50px;
  height: 50px;
  color: #3399ff;
  font-size: 16px;
}
.hamburger ul{
  padding-left: 8%;
  padding-top: 8%;
}
.hamburger li{
  overflow: hidden;
  transition: 2s;
}
.hamburger li a{
  text-decoration: none;
  color: #fff;
  transition: .8s;
  font-size: 60px;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.hamburger li a::after{
  content: '';
  width: 0%;
  height: 5px;
  background: #3399ff;
  position: absolute;
  top: 50%;
  left: 6px;
  transition: .8s;
}
.hamburger li a:hover::after{
  width: 80%;
}
.himg{
  position: absolute;
  width: 250px;
  filter: grayscale(1);
  height: 300px;
  mix-blend-mode: difference;
  top: 0px;
  left: 0px;
}
.bg1{
  top: 150px;
  left: 53%;
  background: url(img/BG01.PNG) no-repeat;
  background-size: contain;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s ease-in-out;
}
.bg2{
  top: 250px;
  left: 53%;
  background: url(img/BG02.PNG) no-repeat;
  background-size: contain;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s ease-in-out;
}
.bg3{
  top: 400px;
  left: 53%;
  background: url(img/BG03.PNG) no-repeat;
  background-size: contain;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s ease-in-out;
}
.L1:hover ~ .bg1,
.L2:hover ~ .bg2,
.L3:hover ~ .bg3{
  opacity: 1;
  transform: translateY(0%) skew(-10deg);
  transition: 1s ease-in-out;
}
.hamburger li a:hover{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}