*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  transition: .5s ease;
}
a:hover{
  color: #e2a1cf;
}
ul{
  list-style: none;
  display: flex;
}
li{
  margin: 0 10px;
}
body{
  width: 100%;
  height: 100vh;
  background: #e2d4dd;
  overflow: hidden;
}
.container{
  width: 100%;
  height: 100%;
  position: relative;
}
.top{
  width: 85%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase{
  width: 60%;
  position: absolute;
  top: 15%;
  right: 5%;
}
.logo{
  text-transform: uppercase;
  font-size: 30px;
}
.showcase p{
  width: 400px;
  text-align: right;
}
h1{
  font-size: 120px;
  line-height: 140px;
  text-transform: uppercase;
}
.mid{
  text-align: right;
}
.tag{
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 80px;
}
.call-to-act{
  position: absolute;
  bottom: 10%;
  right: 10%;
}
button{
  width: 120px;
  height: 30px;
  border: 0;
  outline: none;
  text-transform: uppercase;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.4);
  cursor: pointer;
  transition: .5s ease-in;
}
button:hover{
  background: #000;
  color: #fff;
}
.bg{
  width: 25%;
  height: 90vh;
  background: #e2a1cf;
  border-radius: 10px;
  position: absolute;
  left: 5%;
}
.img{
  width: 40%;
  height: 60vh;
  background-image: url(img/BGpics077BG.png);
  position: absolute;
  bottom: 0;
  left: 3%;
  background-repeat: no-repeat;
  background-size: contain;
}
.sm-img{
  width: 350px;
  height: 100px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  overflow: hidden;
}
.sm1{
  bottom: 43%;
}
.sm2{
  bottom: 65%;
  left: 50%;
}
.inner{
  width: 100%;
  height: 100%;
  background: #e2a1cf;
  border-radius: 50px;
}
.sm1 .img-small{
  background-image: url(img/BGpics077BG.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% -120px;
  background-size: 50%;
}
.sm2 .img-small{
  background-image: url(img/BGpics077BG.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% -20px;
  transform: rotateY(180deg);
  background-size: 50%;
}
@keyframes anim{
  0%{
    height: 100%;
  }
  100%{
    height: 0;
  }
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #30262d;
  z-index: 22;
  animation-name: anim;
  animation-duration: .8s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.fade{
  transform: translateY(10px);
  opacity: 0;
}
.fade2{
  transform: translateY(50px);
  opacity: 0;
}