*, *::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}
:root{
  --primary: #efefef;
  --secondary: #101010;
}
html{
  font-size: calc(100vw / 1920 * 10);
}
body{
  font-family: 'Noto Serif', serif;
  background-color: var(--primary);
  color: var(--secondary);
}
h1{
  font-size: 4.8rem;
  text-transform: uppercase;
}
h2{
  font-size: 2.4rem;
  text-transform: uppercase;
}
span{
  font-size: 3.2rem;
}

html.lenis{
  height: auto;
}
.lenis.lenis-smooth{
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent]{
  overscroll-behavior: contain;
}
.lenis.lenis-stopped{
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
.scroll{
  position: relative;
  width: 100%;
  height: 400vh;
}
.scroll-wrapper{
  position: sticky;
  top: 0;
}
.scroll-text{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top: 24rem;
  height: 100vh;
}
.scroll-text-subtitle{
  text-align: center;
  margin-bottom: 3.2rem;
}
.scroll-text-title{
  display: inline-flex;
  justify-content: center;
  gap: 6.4rem;
}
.scroll-text-title-word{
  display: inline-flex;
  perspective: 800px;
}
.scroll-text-title-word span{
  display: block;
  font-size: 16rem;
  text-transform: uppercase;
}
.scroll-gallery{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 6.4rem;
}
.scroll-gallery-container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
.scroll-gallery-row:nth-child(1){
  display: flex;
  justify-content: center;
}
.scroll-gallery-row:nth-child(2),
.scroll-gallery-row:nth-child(3){
  display: flex;
  justify-content: space-between;
}
.scroll-gallery-row:nth-child(3){
  padding-top: 32rem;
}
.scroll-gallery-row:nth-child(1) .scroll-gallery-row-image:nth-child(1){
  width: 56rem;
  height: 56rem;
}
.scroll-gallery-row:nth-child(2) .scroll-gallery-row-image:nth-child(1){
  width: 40rem;
  height: 24rem;
}
.scroll-gallery-row:nth-child(2) .scroll-gallery-row-image:nth-child(2){
  width: 40rem;
  height: 32rem;
}
.scroll-gallery-row:nth-child(3) .scroll-gallery-row-image:nth-child(1){
  width: 40rem;
  height: 32rem;
}
.scroll-gallery-row:nth-child(3) .scroll-gallery-row-image:nth-child(2){
  width: 40rem;
  height: 40rem;
}
@media screen and (max-width: 769px){
  html{
    font-size: calc(100vw / 769 * 10);
  }
  .scroll-text span{
    font-size: 6.4rem;
  }
  .scroll-gallery-container{
    gap: 24rem
  }
  .scroll-gallery-row:nth-child(3){
    padding-top: 64rem;
  }
  .scroll-gallery-row:nth-child(1) .scroll-gallery-row-image:nth-child(1){
    width: 32rem;
    height: 32rem;
  }
  .scroll-gallery-row:nth-child(2) .scroll-gallery-row-image:nth-child(1){
    width: 20rem;
    height: 16rem;
  }
  .scroll-gallery-row:nth-child(2) .scroll-gallery-row-image:nth-child(2){
    width: 16rem;
    height: 24rem;
  }
  .scroll-gallery-row:nth-child(3) .scroll-gallery-row-image:nth-child(1){
    width: 16rem;
    height: 16rem;
  }
  .scroll-gallery-row:nth-child(3) .scroll-gallery-row-image:nth-child(2){
    width: 18rem;
    height: 24rem;
  }
}